[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pulumi = "*"
pulumi-gcp = "*"
pulumi-random = "*"

[packages]
anyio = "==4.10.0"
beautifulsoup4 = "==4.13.4"
blinker = "==1.9.0"
bs4 = "==0.0.2"
cachetools = "==5.5.2"
certifi = "==2025.8.3"
charset-normalizer = "==3.4.3"
click = "==8.2.1"
cloudevents = "==1.11.0"
deprecation = "==2.1.0"
flask = "==3.1.1"
functions-framework = "==3.9.2"
google-api-core = {extras = ["grpc"], version = "==2.25.1"}
google-auth = "==2.40.3"
google-cloud-appengine-logging = "==1.6.2"
google-cloud-audit-log = "==0.3.2"
google-cloud-core = "==2.4.3"
google-cloud-logging = "==3.12.1"
googleapis-common-protos = {extras = ["grpc"], version = "==1.70.0"}
grpc-google-iam-v1 = "==0.14.2"
grpcio = "==1.74.0"
grpcio-status = "==1.74.0"
gunicorn = "==23.0.0"
h11 = "==0.16.0"
httpcore = "==1.0.9"
httpx = "==0.28.1"
idna = "==3.10"
importlib-metadata = "==8.7.0"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.6"
markupsafe = "==3.0.2"
opentelemetry-api = "==1.36.0"
packaging = "==25.0"
proto-plus = "==1.26.1"
protobuf = "==6.32.0"
pyasn1 = "==0.6.1"
pyasn1-modules = "==0.4.2"
python-dotenv = "==1.1.1"
python-telegram-bot = "==22.3"
pytz = "==2025.2"
requests = "==2.32.4"
rsa = "==4.9.1"
sniffio = "==1.3.1"
soupsieve = "==2.7"
starlette = "==0.47.2"
typing-extensions = "==4.14.1"
urllib3 = "==2.5.0"
uvicorn = "==0.35.0"
uvicorn-worker = "==0.3.0"
watchdog = "==6.0.0"
werkzeug = "==3.1.3"
zipp = "==3.23.0"

[requires]
python_version = "3.12"
