[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pulumi = "*"
pulumi-gcp = "*"
pulumi-random = "*"

[packages]
requests = "*"
bs4 = "*"
python-dotenv = "*"
python-telegram-bot = "*"
pytz = "*"
functions-framework = "*"
google-cloud-logging = "*"

[requires]
python_version = "3.12"
